
*.bed
.DS_Store
.Rhistory
*.png
.DS_Store
THRA_counts.xlsx
Bulk_analysis/gene_count_matrix.csv
Bulk_analysis/transcript_count_matrix.csv
.DS_Store
Single_cell_analysis/genome_files/genes_modified_isoforms.gtf
Single_cell_analysis/genome_files/THRA_Reference_GTF_filtered_exons_9_10_only.numbers
Single_cell_analysis/genome_files/THRA_reference_modified.txt
Single_cell_analysis/Testa_brain_organoids_single_cell.nb.html
Single_cell_analysis/figures/THRA1_THRA2_dotplot_merged.pptx
*.txt
